.hero-banner {
    background: url(../images/png6.png) 0 0 no-repeat;
    background-size: cover;
    background-position: 50% 80%;
    height: 576px;
    padding-top: 90px;

    &__container {
        background-color: $color-white;
        border-radius: 16px;
        color: $color-black-2;
        max-width: 570px;
        margin: 0 auto;
        padding: 56px 48px;

        &:hover {
            transition: all 3s;
        }
    }

    &__text {
        color: $color-red;
        font-size: 14px;
        font-weight: 600;
        line-height: 16px;
        text-align: center;

    }

    &__title {
        color: $color-black-2;
        font-size: 40px;
        font-weight: 400;
        line-height: 48px;
        text-align: center; 
    }

    &__btn {
        background-color: $color-green;
        border-radius: 25px;
        color: $color-white;
        font-size: 15px;
        font-weight: 600;
        line-height: 14px;
        padding: 14px 28px;
        text-align: center;
        text-decoration: none;
        transition: all 5s ease;

        &:hover {
            color: $color-white;
            text-decoration: none;
        }
    }
  

}

@media (max-width: 768px) {
    .hero-banner__container {
        padding: 18px 10px;
        max-width: 80%;
    }

    .hero-banner__title {
        font-size: 30px;
        padding-bottom: 10px;
    }

    .hero-banner__text {
        font-size: 15px;
        padding-top: 10px;
    }

    .hero-banner__btn {
        font-size: 12px;
        padding: 8px 15px;
        margin-bottom: -10px;
        text-align: center;
        text-decoration: none;
    }

}

@media (max-width: 768px) {
    .hero-banner__btn {
        padding: 15px 35px;
        margin-bottom: -20px;

    }
}