.newsletter {

    &__back {
        width: 100%;
        padding: 48px;
        border-radius: 16px;
        background-color: #fff;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
    }

    &__video-link {
        border: 20px solid  $color-red;
        background-color: $color-red;
        border-radius: 50%;
        display: inline-block;
        margin-right: 30px;
    }

    &__info {
       margin-top: -20px;
    }

    &__search {
        border: 2px solid $color-red;
        background-color: $color-gray-1;
        border-radius: 24px;
        height: 48px;
        padding-right: 28px;
        padding-left: 28px;
    }

    &__btn {
        background-color: $color-green;
        border-radius: 25px;
        color: $color-white;
        font-size: 15px;
        font-weight: 600;
        line-height: 14px;
        padding: 14px 28px;
        text-decoration: none;

        &:hover {
            color: $color-white;
            text-decoration: none;

        }
    }
}

@media (max-width: 768px) {
    .newsletter__back {
        padding-bottom: 50px;
        text-align: center;
        width: 90%;
    }

    .newsletter__video-link {
        border: 20px solid  $color-green;
        margin-bottom: 1rem;
    }

    .newsletter__video-link img {
        height: 24px;
    }

    .newsletter__info {
        font-size: 18px;
    }

    .newsletter__info span {
        color: $color-red;
    }

    .newsletter__btn {
        background: $color-red;
        border-radius: 27px;
        color: $color-white;
        display: inline-block;
        font-size: 18px;
        padding: 20px 80px;
    }

}